:root {
  --Black: #000;
  --White: #fff;

  --Blue-100: #007bff;
  --Blue-90: #1a8cff;
  --Blue-60: #4dabff;
  --Blue-30: #99ccff;
  --Blue-10: #e6f2ff;
  --Blue-5: #f2f8ff;
  --Blue-1: #fafcff;

  --Dark-Blue-100: #14213d;
  --Dark-Blue-50: #394867;
  --Dark-Blue-10: #8d99ae;

  --Gray-100: #333333;
  --Gray-90: #4f4f4f;
  --Gray-60: #858585;
  --Gray-30: #b2b2b2;
  --Gray-10: #e0e0e0;
  --Gray-5: #f0f0f0;
  --Gray-2: #fafafa;

  --Error: #e76055;
  --Error-Hover: #d3584e;
  --Success: #2c6edb;
}
