.btn {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-sizing: border-box;
  .ico_comm {
    margin-top: -1px;
  }
  &:hover {
    text-decoration: none;
  }
}

.txt_btn {
  display: block;
  + .ico_comm {
    margin-left: 4px;
  }
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:disabled .ico_comm {
  opacity: 0.2;
}

.btn + .btn {
  margin-left: 8px;
}

.group_btn {
  font-size: 0;
  line-height: 0;
}

.group_btn + .group_btn {
  margin-top: 16px;
}

.btn_large {
  min-width: 120px;
  height: 44px;
  padding: 1px 16px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 45px;
}

.btn_medium {
  min-width: 64px;
  height: 34px;
  padding: 1px 8px 0;
  font-weight: 500;
  font-size: 13px;
}

.btn_small {
  min-width: 56px;
  height: 28px;
  padding: 1px 8px 0;
  font-size: 13px;
}

.btn_primary {
  color: var(--White);
  background-color: var(--Blue-60);
}

.btn_primary:hover {
  background-color: var(--Blue-90);
}

.btn_primary:disabled {
  color: var(--White);
  background-color: var(--Blue-10);
}

.btn_secondary {
  color: var(--White);
  background-color: var(--Dark-Blue-50);
}

.btn_secondary:hover {
  background-color: var(--Dark-Blue-100);
}

.btn_secondary:disabled {
  color: var(--White);
  background-color: var(--Gray-10);
}

.btn_white_line {
  border: 1px solid var(--Gray-30);
  color: var(--Gray-90);
  background-color: var(--Gray-2);
}

.btn_white_line:hover,
.btn_white_line.active {
  border-color: var(--Dark-Blue-50);
  background-color: var(--Gray-5);
}

.btn_white_line:disabled {
  color: var(--Gray-30);
  border-color: var(--Gray-30);
  background-color: var(--Gray-5);
}

.btn_white_line.btn_large {
  color: var(--Dark-Blue-100);
}

.btn_white_line.btn_large:disabled {
  color: var(--Gray-30);
}

.btn_gray_line {
  border: 1px solid var(--Gray-30);
  color: var(--Gray-90);
  background-color: var(--Gray-10);
}

.btn_gray_line:hover,
.btn_gray_line.active {
  border-color: var(--Dark-Blue-50);
  background-color: var(--Gray-10);
}

.btn_gray_line:disabled {
  color: var(--Gray-30);
  border-color: var(--Gray-30);
  background-color: var(--Gray-5);
}

.btn_gray_line.btn_large {
  color: var(--Dark-Blue-100);
}

.btn_gray_line.btn_large:disabled {
  color: var(--Gray-30);
}

.btn_gray {
  color: var(--Gray-90);
  background-color: var(--Gray-10);
}

.btn_gray:hover {
  background-color: var(--Gray-30);
}

.btn_gray:disabled {
  color: var(--Gray-30);
  background-color: var(--Gray-5);
}

.btn_gray.btn_large {
  color: var(--Dark-Blue-100);
}

.btn_black {
  color: var(--White);
  background-color: var(--Black);
  padding: 0 12px;
}
